

/*  gnb  */


.logo, .profile{
    display: flex;
    align-items: center;
}

.logo-icon{
    padding: 0.5rem;
}

.profile > div {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
}

.gnb {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

.profile-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    user-select: none;
}

.profile-img-box{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-img-icon{
    width: 1rem;
    height: 1rem;
    padding-left: 0.3rem;
}

.profile-magnifyingGlass-icon{
    width: 1.3rem;
    height: 1.3rem;
}

.profile-moon-icon{
    width: 1.3rem;
    height: 1.3rem;
}

.on{
    display: block !important;
}

.link{
    text-decoration: none;
    color: #000;
}

.link:visited{
    color: none;
}

/*  gnb end  */